<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Production Year</th>
        <th>Mileage</th>
        <th>Engine Capacity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.brand}"/></td>
        <td><span th:text="${car.model}"/></td>
        <td><span th:text="${car.productionYear}"/></td>
        <td><span th:text="${car.mileage}"/></td>
        <td><span th:text="${car.engineCapacity}"/></td>
        <td><a th:href="@{../cars/details/} + ${car.id}">Show Car Details</a></td>
    </tr>
    </tbody>
</table>


</body>
</html>