<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/drivers/create}" method="POST" th:object="${driver}">
<table>
    <tr><td></td><td><input type="hidden" id="id" name="id" th:value="${driver.id}"/></td></tr>
    <tr><td>UserName</td><td><input type="text" id="userName" name="userName" th:value="${driver.userName}"/></td></tr>
    <tr><td>Password</td><td><input type="password" id="password" name="password" th:value="${driver.password}"/></td></tr>
<!--    <tr><td></td><td><input type="hidden" id="licenseId" name="licenseId" th:value="${drivingLicenseDto.id}"/></td></tr>-->
<!--    <tr><td>licenseNumber</td><td><input type="text" id="licenseNumber" name="licenseNumber" th:value="${drivingLicenseDto.number}"/></td></tr>-->
<!--    <tr><td>licenseExpire</td><td><input type="text" id="licenseExpire" name="licenseExpire" th:value="${drivingLicenseDto.expireDate()}"/></td></tr>-->
    <tr><td></td><td> <button type="submit">Zatwierdź</button></td></tr>
</table>
</form>
</body>
</html>