<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1>List Of Drivers</h1>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Driving License</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="driver : ${drivers}">
        <td th:text="${driver.getUserDto().getUserName()}"><td>
        <td th:text="${driver.drivingLicenseDto}"></td>
        <td><a th:href="@{../drivers/} + ${driver.id}">Show Driver Details</a></td>


    </tr>
    </tbody>


</table>


</body>
</html>