<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1>List Of Drivers</h1>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Driving License</th>
        <th>Cars</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="driver : ${drivers}">
        <td th:text="${driver.userName}"><td>
        <td th:text="${driver.getDrivingLicense().getNumber()}"></td>
        <!--<td th:text="${driver.cars}">Buck</td>-->
    </tr>
    </tbody>


</table>


</body>
</html>