<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1>List Of Drivers</h1>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Driving License Number</th>
        <th>Driving License Expire Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${driver.getUserDto().getUserName()}"><td>
        <td th:text="${driver.getDrivingLicenseDto().getNumber()}"><td>
        <td th:text="${driver.getDrivingLicenseDto().getExpireDate()}"><td>
        <td><a th:href="@{../drivers/} + ${driver.id}">Add car</a></td>
        <td><a th:href="@{../drivers/preparePayment?driverId=} + ${driver.id}">Prepare Payment</a></td>


    </tr>
    </tbody>


</table>


</body>
</html>