<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form th:action="@{/register}" method="POST" th:object="${assignment}">

    <tr><td>UserName</td><td><input type="text" id="userName" name="userName" th:value="${assignment.userName}"/></td></tr>
    <tr><td>Password</td><td><input type="password" id="password" name="password" th:value="${assignment.password}"/></td></tr>    <button type="submit">Zatwierdź</button>
    <tr><td>E-mail</td><td><input type="text" id="email" name="email" th:value="${assignment.email}"/></td></tr>    <button type="submit">Zatwierdź</button>
    <select th:field="*{assignment.roleId}">
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}"></option>


    </select>
</form>


</body>
</html>